@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/*  */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/public/images/Home/background.png");
}
.upper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 267px;
  width: 100%;
}
.middle {
  margin-top: 148px;
  width: 100%;
  height: 56px;
}
.under {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 184px;
  margin-bottom: 80px;
}
.under_left {
  display: flex;
  margin-top: 65px;
}
.under_right {
  display: flex;
  flex-direction: column;
}
.rogo-image {
  z-index: -2;
}
.rogo {
  width: 680px;
  height: 388px;
  position: absolute;
  top: 126px;
  left: 18%;
}
@media screen and (min-width: 1920px) {
  .rogo {
    left: 28%;
  }
}
@media screen and (min-width: 1661px) {
  .rogo {
    left: 23%;
  }
}
@media screen and (max-width: 1441px) {
  .rogo {
    left: 15%;
  }
}
.micro-box {
  display: flex;
  justify-content: center;
}
.micro {
  width: 565px;
  height: 40px;
  opacity: 0.48;
  font-family: Roboto;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -1.5px;
  text-align: center;
  color: #072f63;
}
.excellency {
  font-family: Roboto;
  font-size: 65px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #072f63;
}
.button {
  width: 279px;
  height: 56px;
  object-fit: contain;
  background-color: #fff;
  border: solid 1px #013776;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.54px;
  color: #013776;
}
.text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.54px;
  color: #013776;
}
.solid {
  width: 388px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.notice {
  width: 96px;
  font-family: Roboto;
  font-size: 33px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #013776;
}
.tribology {
  width: 540px;
  margin-top: 25px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
/*mobile*/
#mobile-main {
  display: flex;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
}
#mobile-upper {
  text-align: center;
  margin-top: 145px;
  width: 340px;
}
#mobile-middle {
  margin-top: 136px;
}
#mobile-under {
  text-align: left;
  margin-top: 103px;
}
.mobile-underleft {
  width: 100%;
  justify-content: flex-start;
}
.mobile-image {
  position: absolute;
  z-index: 0;
}
.mobile-rogo {
  width: 214px;
  height: 123px;

  background-color: #fff;
}
.mobile-micro {
  width: 62px;
  object-fit: contain;
  opacity: 0.32;
  font-family: Roboto;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.4px;
  text-align: left;
  color: #013776;
}
.mobile-excel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.mobile-excellency {
  z-index: 5;
  object-fit: contain;
  font-family: Roboto;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -1.02px;
  text-align: center;
  color: #013776;
}
.mobile-button {
  width: 169px;
  height: 32px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.54px;
  text-align: center;
  color: #013776;
  background-color: #fff;
  border: 1px solid #013776;
  opacity: 0.8;
}

.mobile-notice {
  width: 53px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #013776;
}
.mobile-tribology {
  width: 304px;
  object-fit: contain;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
  margin-top: 17px;
}
