/*  */
.section {
    display: flex;
    position: fixed;
    width: 100%;
    height: 79.5px;
    border-bottom: solid 3px #3c6695;
    z-index: 100;
    top: 0;
}
.list {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font: 14px;
    flex-direction: row;
    list-style: none;
}
.header {
    display: flex;
    width: 100%;
    margin-left: 7.5%;
    margin-right: 9.3%;
    justify-content: space-between;
    flex-direction: row;
}
.micro {
    width: 232px;
    display: flex;
    flex-direction: column;
    margin:0;
    //justify-content: flex-start;
}
.rogo {
    width: 232px;
    height: 48px;
    background-color: #fff;
    align-items: center;
    
}
.flexbox{
    width: 54.10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: #013776;
}
.titlelist {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: contain;
    z-index: 30;
}
.titleRow {
    display: flex;
    flex-direction: column;
    width: 168px;
    height: 40px;
    //width:19.44%;
}
#item1, #item2, #item3, #item4, #item5 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    color: #707070;
}
#item1, #item2, #item3, #item4, #item5 :hover {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: normal;
    color: #013776;
}
#table {
    position: absolute;
    width: 44.40%;
    //width: 100%;
    height: 152px;
    justify-content: space-evenly;
    top:80px;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border:rgba(0, 0, 0, 0.16);
    z-index: 10;
}
.itemRow {
    display: flex;
    flex-direction: column;
    //background-color:bisque;
    //width:19.44%;
    width: 168px;
}
.itemColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    //background-color: aquamarine;
    object-fit: contain;
    //width: 168px;
    width: 100%;
    height: 50px;
}
.itemAll {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #606060;
    
    text-decoration: none;
}
/*mobile*/
.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mobile-section {
    display: flex;
    position: fixed;
    width: 390px;
    height: 56px;
    border-bottom: solid 3px #3c6695;
    z-index: 10;
    top:44px;
    flex-direction: column;
    justify-content: center;
}
.mobile-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.toolbar {
    align-self: center;
    background-color: #fff;
    width: 17px;
    height: 17px;
    border: 0;
}
.mobile-rogo {
    width: 17px;
    height: 17px;
    object-fit: contain;
}
.mobile-title{
    margin-left: 75px;
    align-self: center;
    width: 148px;
    height: 31px;
    background-color: #fff;
}
.image{
    width: 148px;
    height: 31px;
}


.page-header {
    margin-left: 28px;
    margin-right: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-title {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.xbutton {
    align-self: center;
    background-color: #fff;
    width: 32px;
    height: 31px;
    border: 0;
}
.ximage {
    width: 32px;
    height: 31px;
}
.mobile-menu {
    display: flex;
    width: 390px;
    margin-top:120px;
    flex-direction: column;
    align-items: center;
}

.first, .fourth, .fifth {
    display: flex;
    width: 88.2%;
    height: 40px;
    margin-bottom: 16px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #013776;
    background-color: #eef2f9;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.second, .third {
    display: flex;
    width: 88.2%;
    height: 40px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #013776;
    background-color: #eef2f9;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
#introduction, #research, #members, #publication, #contact {
}
.menucol {
    margin-left: 24px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.threebox {
    display: flex;
    flex-direction: column;
    width: 88.2%;
    height: 120px;
    justify-content: space-around;
    margin-bottom: 16px;
    border: solid 1px #dbdde0;
}


.twobox{
    display: flex;
    flex-direction: column;
    width: 88.2%;
    height: 88px;
    justify-content: space-around;
    margin-bottom: 16px;
    border: solid 1px #dbdde0;
}
.boxcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:24px;
}
.col {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}