@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile 레이아웃 */
@media screen and (max-width: 1024px) {
  #top_container {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    object-fit: contain;
    /* opacity: 0.4; */
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;

    margin-top: 56px;
    margin-bottom: 32px;
  }
  #middle_container {
    width: 87.9%;
  }
  #bottom_container {
    width: 100%;
    height: 124.5px;
  }

  #title_container {
    width: 167px;

    margin-top: 37px;
    padding-bottom: 40px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #title_text {
    object-fit: contain;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.51px;
    color: #013776;
    z-index: 1;
  }
  #title_underline {
    width: 72px;
    height: 13px;
    object-fit: contain;
    opacity: 0.4;
    border-radius: 17px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #5e90cb);

    position: absolute;
    top: 15%;
    left: 0%;
    z-index: 0;
  }

  #img_4631_container {
    margin-top: 56px;
    margin-bottom: 58px;
  }
  #img_4631 {
    width: 100%;
  }

  .explanation_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #second_img_group {
    /*  */
  }

  #second_img {
    width: 100%;
    height: 272px;
  }

  #explanation_text_1 {
    object-fit: contain;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.36px;
    text-align: left;
    color: #000;

    margin-bottom: 41px;
  }
  #explanation_text_2 {
    object-fit: contain;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.36px;
    text-align: left;
    color: #000;

    margin-bottom: 127px;
  }
  #explanation_text_3 {
    object-fit: contain;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.36px;
    text-align: left;
    color: #000;

    margin-top: 20.3px;
  }
  #explanation_text_4 {
    object-fit: contain;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.36px;
    text-align: left;
    color: #000;

    margin-top: 42.5px;
  }

  .img_group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 47.7px;
  }
  .img_sub_group {
    display: flex;
    flex-direction: column;
  }
  .img_explanation_text {
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.27px;
    text-align: center;
    color: #013776;
  }
  #img_36 {
    width: 93.1px;
    height: 76.2px;
    object-fit: contain;
  }
  #img_37 {
    width: 93.1px;
    height: 76.2px;
    object-fit: contain;
  }
  #img_38 {
    width: 93.1px;
    height: 76.2px;
    object-fit: contain;
  }
  #img_39 {
    width: 93.1px;
    height: 76.2px;
    object-fit: contain;
  }
}
