body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

@media screen and (min-width: 1025px) {
  .nav-tabs {
    border-bottom: 1px solid #ebebeb;
    justify-content: center;
    margin-left: 5.9%;
    margin-right: 5.9%;
    margin-bottom: 109px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    width: 272px !important;
    color: #3c6695 !important;
    background-color: transparent !important;
    border-color: transparent transparent #3c6695 !important;
    border-bottom-width: 3px !important;
    font-family: Roboto !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.3 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #013776 !important;
    margin-bottom: -3px !important;
    text-transform: capitalize !important;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    width: 272px !important;
    border-bottom-width: 1px !important;
    color: #707070 !important;
    font-weight: 900 !important ;
    background-color: transparent !important;
    border-color: transparent transparent #e0e0e0 !important;
    font-family: Roboto !important;
    font-size: 23px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.3 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #e0e0e0 !important;
    margin-bottom: -3px !important;
    text-transform: capitalize !important;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link:hover {
    background-color: transparent;
    border-bottom-width: 3px;
    border-color: transparent transparent #3c6695;
    color: #3c6695;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active:hover {
    background-color: transparent;
    border-bottom-width: 3px;
    border-color: transparent transparent #3c6695;
    color: #3c6695;
  }
  .titleSection {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 88.5px;
    margin-bottom: 100px;
  }
  .titleText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -1.47px;
    text-align: left;
    color: #013776;
    z-index: 1;
  }
  .titleBackDrag {
    position: absolute;
    top: 24px;
    margin-left: 0px;
    width: 208px;
    height: 33px;
    object-fit: contain;
    opacity: 0.4;
    border-radius: 17px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #5e90cb);
    z-index: 0;
  }

  .professorRoot {
    padding-left: 7.1%;
    padding-right: 7.1%;
  }

  .subTitleSection {
    position: relative;
    display: flex;
    justify-content: left;
    margin-top: 126px;
    margin-bottom: 63px;
  }
  .subTitleText {
    width: 145px;
    height: 46px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -1.05px;
    text-align: left;
    color: #013776;
  }
  .subTitleBackDrag {
    position: absolute;
    width: 199px;
    height: 21px;
    top: 19px;
    left: -5px;
    opacity: 0.4;
    border-radius: 17px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #5e90cb);
    z-index: 0;
  }

  .professorNameText {
    margin-bottom: 49px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -1.05px;
    text-align: left;
    color: #013776;
  }

  .professorImg {
    width: 288px;
    height: 368px;
  }

  .professorInfoContainer {
    display: flex;
    width: 100%;
    margin-left: 104px;
    flex-direction: column;
  }

  .categoryTitleText {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #013776;
    margin-bottom: 24px;
  }

  .contentText {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 16px;
  }

  .cardTitleText {
    width: 65px;
    height: 39px;
    object-fit: contain;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.9px;
    text-align: left;
    color: #969696;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 178px 176px 176px;
    gap: 48px 5px;
    padding-left: 24px;

    margin-top: 18px;
    margin-bottom: 64px;
  }
  .cardContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 176px 176px;
    gap: 48px 5px;
    padding-left: 24px;
    margin-top: 18px;
    margin-bottom: 64px;
  }
  .memberCardRoot {
    display: flex;
    flex-direction: row;
  }
  .memberInfoSection {
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    padding-top: 32px;
    justify-content: center;
  }

  .memberImage {
    width: 176px;
    height: 176px;
  }
  .memberNameText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: -0.75px;
    text-align: left;
    color: #000;
    margin-bottom: 32px;
  }
  .memberCurrierText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.68px;
    text-align: left;
    color: #3e3e3e;
    margin-bottom: 8px;
  }

  .alumniSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;
  }
  .alumniTextContainer {
    display: flex;
    flex-direction: column;
  }
  .alumniNameText {
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #013776;
    margin-bottom: 4px;
  }
  .alumniWorkText {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -0.78px;
    text-align: left;
    color: #000;
  }
  .alumniInfoText {
    object-fit: contain;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
    margin-top: 255px;
    position: relative;
  }
  .footerSection > .topContainer {
    height: 288px;
    object-fit: contain;
    background-color: #fcfcfc;
  }
  .footerSection > .bottomContainer {
    height: 71px;
    object-fit: contain;
    border: solid 1px #e2e2e2;
    background-color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  #subTabContainer {
    overflow-x: auto;
    -ms-overflow-style: none;
  }

  #subTabContainer::-webkit-scrollbar {
    display: none;
  }

  .nav-tabs {
    border-color: transparent !important;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 16px;
    min-width: 375px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px !important;
    height: 40px !important;
    color: #3c6695 !important;
    border-color: #000 !important;
    object-fit: contain !important;
    border-radius: 20px !important;
    border: solid 1px #013776 !important;
    background-color: #fff !important;
    font-family: Roboto !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.3 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #013776 !important;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: capitalize !important;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px !important;
    height: 40px !important;
    color: #3c6695 !important;
    object-fit: contain !important;
    border: solid 1px #dadada !important;
    background-color: #fff !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    font-family: Roboto !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.3 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #dadada !important;
    text-transform: capitalize !important;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link:hover {
    background-color: transparent;
    border-bottom-width: 3px;
    border-color: transparent transparent #3c6695;
    color: #3c6695;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active:hover {
    background-color: transparent;
    border-bottom-width: 3px;
    border-color: transparent transparent #3c6695;
    color: #3c6695;
  }

  .titleSectionBox {
    object-fit: contain;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titleSection {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .titleText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.51px;
    text-align: left;
    color: #013776;
    z-index: 1;
  }
  .titleBackDrag {
    position: absolute;
    top: 8px;
    border-radius: 17px;
    margin-left: -18px;
    width: 72px;
    height: 13px;
    object-fit: contain;
    opacity: 0.4;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #5e90cb);
  }

  .professorRoot {
    padding-left: 6.2%;
    padding-right: 6.2%;
  }

  .professorNameText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.39px;
    text-align: left;
    color: #013776;
    margin-bottom: 11px;
  }

  .categoryTitleText {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: bold;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #013776;
    margin-bottom: 11px;
  }

  .contentText {
    font-family: Roboto;
    font-size: 9px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 16px;
  }

  .contentTextInfoMargin {
    margin-bottom: 9px;
  }

  .professorProfileSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .professorContentSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }

  .subTitleSection {
    position: relative;
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-bottom: 22px;
  }
  .subTitleText {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.45px;
    text-align: left;
    color: #013776;
  }
  .subTitleBackDrag {
    position: absolute;
    border-radius: 17px;
    top: 7px;
    left: -5px;
    width: 60px;
    height: 10px;
    opacity: 0.4;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #154781);
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px;
    gap: 16px 5px;
    margin-top: 18px;
    margin-bottom: 64px;
  }
  .cardContainer2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 72px 72px 72px;
    gap: 16px 5px;
    margin-top: 18px;
    margin-bottom: 64px;
  }

  .cardTitleText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -0.39px;
    text-align: left;
    color: #969696;
  }
  .memberCardRoot {
    display: flex;
    flex-direction: row;
  }
  .memberInfoSection {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 12px;
    justify-content: center;
  }
  .memberImage {
    width: 72px;
    height: 72px;
  }
  .memberNameText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.33px;
    text-align: left;
    color: #000;
    margin-bottom: 8px;
  }
  .memberCurrierText {
    object-fit: contain;
    font-family: Roboto;
    font-size: 7px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.28px;
    text-align: left;
    color: #3e3e3e;
    margin-bottom: 8px;
  }

  .alumniSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;
  }
  .alumniTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .alumniNameText {
    font-family: Roboto;
    font-size: 9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #013776;
    margin-bottom: 8px;
  }
  .alumniWorkText {
    /* font-family: Roboto; */
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.33px;
    text-align: left;
    color: #000;
    margin-right: 24px;
  }
  .alumniInfoText {
    object-fit: contain;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 7px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: right;
    color: #000;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
    margin-top: 160px;
    position: relative;
  }
  .footerSection > .topContainer {
    height: 98px;
    object-fit: contain;
    background-color: #fcfcfc;
  }
  .footerSection > .bottomContainer {
    display: none;
  }
}
